<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="API for today's 9th Grade SMCS blocking schedule at PHS.">
    <title>PHS 9th Grade SMCS Blocking Schedule API</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    </head>
  <body>
    <main>
      <h1>Hello World!</h1>
      <p>Current Schedule (Raw Data):</p>
      <p id="output"></p>
    </main>
  </body>

  <script>
    fetch("https://smartynotchy.pythonanywhere.com/")
      .then((response) => response.json())
      .then((json) => document.getElementById("output").innerHTML=json.body);
  </script>
</html>